<div layout="row">
    <div flex="10"></div>
    <div flex="30">
        <h1>Register</h1>
        <ul ng-show="error">
            <li class="error" ng-repeat="err in error">{{err}}</li>
        </ul>
        <form name="registerForm" novalidate>
            <md-content class="autoScroll">
                <md-input-container class="md-icon-float md-block" layout="row">
                    <md-icon>
                        <ng-md-icon icon="account_circle" class="blackIcon" size="28"></ng-md-icon>
                    </md-icon>
                    <input ng-model="user.username" name="username" type="text" placeholder="username" ng-required="true" ensure-type ensure="alphanumeric" custom-error-message >
                </md-input-container>
                <md-input-container class="md-icon-float md-block" layout="row">
                    <md-icon>
                        <ng-md-icon icon="email" class="blackIcon" size="28"></ng-md-icon>
                    </md-icon>
                    <input ng-model="user.email" name="email" type="email" placeholder="email" ng-required="true" custom-error-message errormessage="Please provide a valid email address.">
                </md-input-container>
                <md-input-container class="md-icon-float md-block" layout="row">
                    <md-icon>
                        <ng-md-icon icon="vpn_key" class="blackIcon" size="28"></ng-md-icon>
                    </md-icon>
                    <input ng-model="user.password" name="password" type="password" placeholder="password" ng-required="true">
                </md-input-container>
                <md-input-container class="md-icon-float md-block" layout="row">
                    <md-icon>
                        <ng-md-icon icon="warning" class="blackIcon" size="28"></ng-md-icon>
                    </md-icon>
                    <input ng-model="user.ensurePassword" name="ensurepassword" type="password" placeholder="password match" ng-required="true" value-match against="user.password" >
                </md-input-container>
                <md-input-container layout="row" layout-align="center center">
                    <md-button class="md-raised md-cornered" ng-disabled="registerForm.$invalid" ng-click="register(user)">Register</md-button>
                </md-input-container>
            </md-content>
        </form>
    </div>
</div>