<!-- >> Contact Information << -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="notifications">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Notification</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <md-button ng-click="testNotification()" class="md-primary">
            Test Notifications
        </md-button>
    </md-content>
    <md-content ng-repeat="noti in notifications">
        <p>{{noti.message}}</p>
        <md-button ng-if="(noti.action == 'contactRequest')" ng-click="acceptContact(noti.from_id)" class="md-primary">
            Accept {{noti.from.username}}
        </md-button>
    </md-content>
</md-sidenav>


<!-- >> Contact Information << -->
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="contactInfo">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Contact Information</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
        </md-button>
    </md-content>
</md-sidenav>
