<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="" ui-sref="main.userInfo">
            <ng-md-icon icon="person" class="whiteIcon" size="32"></ng-md-icon>
            <md-tooltip md-direction="bottom">{{user.username}}</md-tooltip>
        </md-button>
        <p>{{user.username}}</p>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Contacts" ng-click="toggleContacts()">
            <ng-md-icon icon="people" class="whiteIcon" size="32"></ng-md-icon>
            <md-tooltip md-direction="bottom">Contacts</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Notifications" ng-click="toggleNotifications()">
            <ng-md-icon icon="{{(user.notifications.length > 0) ? 'notifications':'notifications_none'}}" class="whiteIcon" size="32"></ng-md-icon>
            <md-tooltip md-direction="bottom">Notifications</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Exit" ng-click="logout()">
            <ng-md-icon icon="logout" class="whiteIcon" size="32"></ng-md-icon>
            <md-tooltip md-direction="bottom">Loggout</md-tooltip>
        </md-button>
    </div>
</md-toolbar>
<!-- Nested View to Show the Active User Profile -->
<div class="userInfo" ui-view flex="30"></div>