<md-content flex layout-padding>
    <div layout="column" layout-fill layout-align="top center">
        <div>
            <md-button ng-click="toggleLeft()"
                       class="md-primary">
                Toggle left
            </md-button>
        </div>
        <div>
            <md-button ng-click="toggleRight()"
                       ng-hide="isOpenRight()"
                       class="md-primary">
                Toggle right
            </md-button>
        </div>
    </div>
    <div flex></div>
</md-content>