/*
*{
    border: 1px solid black;
    box-sizing: border-box;
}
*/

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px; }


.errorMessage{
    color: red;
    font-style: italic;
}

.error{
    color: red;
    font-size: 75%;
}