/*
*{
    border: 1px solid black;
    box-sizing: border-box;
}
*/

.face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    margin: 16px; }



.error{
    color: red;
    font-size: 75%;
}

/*Class to Style the subheading in the Navigation Menu*/
.subHeading{
    background-color: gray;
    color: white;
    border: 1px solid gray;
    padding: 5px;
    outline:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.iconToRight{
    float:right;
}