<!-- *********************************************************************************** -->
<!-- Contacts Sidebar -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="contacts">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Contacts</h1>
    </md-toolbar>

    <!-- *********************************************************************************** -->
    <!-- Contact Search Panel -->
    <h3 class="subHeading md-subhead" layou="row" ng-click="toggleContactSearch()">
        <span flex="80">Contact Search</span>
        <md-button aria-label="Show/Hide Contact Search" class="md-icon-button iconToRight" flex="20">
            <ng-md-icon icon="{{(panels.contactSearch) ? 'search':'arrow_drop_down_circle'}}" class="whiteIcon" size="25"></ng-md-icon>
            <md-tooltip md-direction="bottom">{{(panels.contactSearch) ? 'Hide':'Show'}} Contact Search</md-tooltip>
        </md-button>
    </h3>

    <md-cotent layour="row" ng-show="panels.contactSearch">
        <form novalidate name="searchForm">
            <md-input-container class="md-icon-float" flex="70">
                <input ng-model="searchName" name="searchFor" type="text" placeholder="username" required="true"
                       ensure-type ensure="alphanumeric">
            </md-input-container>
            <md-button class="md-icon-button" aria-label="Search" ng-click="searchForContacts(searchName)" flex="20"
                       ng-disabled="searchForm.$invalid">
                <ng-md-icon icon="search" class="blackIcon" size="32"></ng-md-icon>
                <md-tooltip md-direction="bottom">Search</md-tooltip>
            </md-button>
        </form>
        <md-list class="fixedRows" ng-show="(searchResults.length > 0)">
            <md-list-item class="md-2-line contact-item" ng-repeat="contact in searchResults" layout="row">
                <img ng-src="static/assets/60.jpeg" class="md-avatar" alt="{{contact.username}}" flex="15"/>

                <div class="md-list-item-text compact" flex="70">
                    <h3>{{contact.username}}</h3>
                </div>
                <md-button class="md-icon-button" ng-click="addContact(contact)" flex="15" aria-label="Add">
                    <ng-md-icon icon="person_add" class="blackIcon" size="25"></ng-md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-cotent>

    <!-- *********************************************************************************** -->
    <!-- Panel Contacts -->
    <h3 class="subHeading md-subhead" layou="row" ng-click="toggleShowContacts()">
        <span flex="80">Contacts</span>
        <md-button aria-label="Show/Hide Contacts" class="md-icon-button iconToRight" flex="20">
            <ng-md-icon icon="{{(panels.showContacts) ? 'contacts':'arrow_drop_down_circle'}}" class="whiteIcon"
                        size="25"></ng-md-icon>
            <md-tooltip md-direction="bottom">{{(panels.showContacts) ? 'Hide':'Show'}} Your Contacts</md-tooltip>
        </md-button>
    </h3>

    <md-cotent layour="row" ng-show="panels.showContacts">
        <md-list class="fixedRows">
            <md-list-item class="md-2-line contact-item circularBorder" ng-repeat="contact in user.contacts | orderBy:'username'" layout="row">
                <img ng-src="static/assets/60.jpeg" class="md-avatar" alt="{{contact.username}}" flex="15"/>
                <div class="md-list-item-text compact" flex="60">
                    <h3>{{contact.username}}</h3>
                    <p>{{contact.email}}</p>
                </div>
                <div flex="20" layout="column">
                    <div layout="column">
                        <md-button class="md-icon-button" ui-sref="main.inConversation({to:contact.username})" layout="row"
                                   aria-label="Chat with">
                            <ng-md-icon icon="chat" class="blackIcon" size="25"></ng-md-icon>
                        </md-button>
                    </div>
                    <div layout="column">
                        <md-button class="md-icon-button" ng-click="deleteContact(contact.username,$event)" layout="row" aria-label="Delete">
                            <ng-md-icon icon="highlight_remove" class="redIcon" size="15"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </md-cotent>
    <!-- *********************************************************************************** -->


    <!-- *********************************************************************************** -->
    <!-- Panel Groups -->
    <h3 class="subHeading md-subhead" layou="row" ng-click="toggleUserGroups()">
        <span flex="80">Groups</span>
        <md-button aria-label="Show/Hide Contacts" class="md-icon-button iconToRight" flex="20">
            <ng-md-icon icon="{{(panels.showGroups) ? 'people':'arrow_drop_down_circle'}}" class="whiteIcon"
                        size="25"></ng-md-icon>
            <md-tooltip md-direction="bottom">{{(panels.showGroups) ? 'Hide':'Show'}} Your Groups</md-tooltip>
        </md-button>
    </h3>

    <md-cotent layour="row" ng-show="panels.showGroups">
        <!-- Group Settings -->
        <md-button class="md-icon-button" ng-click="toggleGroups()" layout="row" aria-label="Group Options">
            <ng-md-icon icon="settings" class="blackIcon" size="25"></ng-md-icon>
            <md-tooltip md-direction="bottom">Show Group Options</md-tooltip>
        </md-button>
        <!-- -->
        <md-list class="fixedRows">
            <md-list-item class="md-2-line contact-item circularBorder" ng-repeat="group in user.groups | orderBy:'name'" layout="row">
                <img ng-src="static/assets/60.jpeg" class="md-avatar" alt="{{group.name}}" flex="15"/>
                <div class="md-list-item-text compact" flex="60">
                    <h3>{{group.name}}</h3>
                    <p></p>
                </div>
                <div flex="20" layout="column">
                    <div layout="column">
                        <md-button class="md-icon-button" ui-sref="main.inConversation({to:group.name})" layout="row"
                                   aria-label="Chat in">
                            <ng-md-icon icon="chat" class="blackIcon" size="25"></ng-md-icon>
                        </md-button>
                    </div>
                    <div layout="column">
                        <md-button class="md-icon-button" ng-click="exitGroup(group.name,$event)" layout="row" aria-label="Delete">
                            <ng-md-icon icon="highlight_remove" class="redIcon" size="15"></ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </md-cotent>
    <!-- *********************************************************************************** -->


    <!-- *********************************************************************************** -->
    <!-- Panel Pending Contacts -->
    <h3 class="subHeading md-subhead" layou="row" ng-click="togglePendingContacts()">
        <span flex="80">Pending Contacts</span>
        <md-button aria-label="Show/Hide Pending Contacts" class="md-icon-button iconToRight" flex="20">
            <ng-md-icon icon="{{(panels.pendingContacts) ? 'access_time':'arrow_drop_down_circle'}}" class="whiteIcon"
                        size="25"></ng-md-icon>
            <md-tooltip md-direction="bottom">{{(panels.pendingContacts) ? 'Hide':'Show'}} Pending Contacts</md-tooltip>
        </md-button>
    </h3>

    <md-cotent layour="row" ng-show="panels.pendingContacts">
        <md-list class="fixedRows">
            <md-list-item class="md-2-line contact-item" ng-repeat="contact in user.pendingContacts | orderBy:'username'" layout="row">
                <img ng-src="static/assets/60.jpeg" class="md-avatar" alt="{{contact.username}}" flex="15"/>

                <div class="md-list-item-text compact" flex="80">
                    <h3>{{contact.username}}</h3>

                    <p>{{contact.email}}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-cotent>
</md-sidenav>
<!-- *********************************************************************************** -->
